
@{
    ViewBag.Title = "Page2";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/CSS/CollectionsCSS.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/eaf1554704.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div class="main-content">
            <div class="container collection-block">
                <div class="row">
                    <div class="col-3 sidebar-collection">
                        <div>
                            <a href="#">
                                <span>Trang chủ</span>
                            </a>
                            <i class="fa fa-solid fa-angles-right"></i>
                            <span>LỊCH 2024</span>
                        </div>
                        <div class="menu-group border border-1">
                            <div class="title-block">
                                <h3 class="sidebar-title">
                                    ĐANG ĐƯỢC QUAN TÂM
                                </h3>
                            </div>
                            <div class="block-content">
                                <div class="layered-content">
                                    <ul class="menu-list-links">
                                        <li>
                                            <a href="#">
                                                Harry Potter - Kỳ Thư Phù Thủy
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Nhóc Maruko - Tập 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Tết Ở Làng Địa Ngục
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Casio FX580
                                            </a>
                                            <span class="icon-subnav">

                                            </span>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sách Nhân Số Học
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Đập Tan Nợ Nần
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Methode Rose
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="layered border border-1">
                            <div class="title-block">
                                <h3 class="sidebar-title">
                                    BỘ LỌC
                                </h3>
                            </div>
                            <div class="block-content">
                                <div class="layered-content">
                                    <div class="filter-title">
                                        <span>GIÁ SẢN PHẨM</span>
                                    </div>
                                    <div class="filter-price">
                                        <ul class="checkbox-list">
                                            <li>
                                                <input type="checkbox" id="p1" name="name" value="" />
                                                <label for="p1">
                                                    Dưới
                                                    <span>50,000₫</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-group border border-1">
                            <div class="title-block">
                                <h3 class="sidebar-title">
                                    ĐANG ĐƯỢC QUAN TÂM
                                </h3>
                            </div>
                            <div class="block-content">
                                <div class="layered-content">
                                    <div class="featured">
                                        <div class="item-featured">
                                            <div class="featured-img">
                                                <img src="~/AppData/Img/ForCategory/101 tư vấn pl.png" />
                                            </div>
                                            <div class="featured-info">
                                                <h4>
                                                    <a href="#">
                                                        101 Tư Vấn Pháp Luật Thường Thức Về Nhà Ở
                                                    </a>
                                                </h4>
                                                <p class="featured-price primary-color">
                                                    103,500₫
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item-featured">
                                            <div class="featured-img">
                                                <img src="~/AppData/Img/ForCategory/bách khoa tri thức.png" />
                                            </div>
                                            <div class="featured-info">
                                                <h4>
                                                    <a href="#">
                                                        Bách Khoa Tri Thức Đa Tương Tác - Phương Tiện Giao Thông
                                                    </a>
                                                </h4>
                                                <p class="featured-price primary-color">
                                                    131,400₫
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item-featured">
                                            <div class="featured-img">
                                                <img src="~/AppData/Img/ForCategory/cả nhà thương nhau.png" />
                                            </div>
                                            <div class="featured-info">
                                                <h4>
                                                    <a href="#">
                                                        Cả Nhà Thương Nhau - Con Yêu Mẹ Biết Bao
                                                    </a>
                                                </h4>
                                                <p class="featured-price primary-color">
                                                    28,800₫
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner-left">
                            <a href="#">
                                <img src="~/AppData/Img/ForCategory/banner-left-collection.png" />
                            </a>
                        </div>
                    </div>
                    <div class="col-9 product-list">
                        <div class="row">
                            <div class="col-3 ">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bìa Lò Xo Giữa Gắn Bloc"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/bloc_ca_chep_fbdb5d0d8b244991899fee5df642fdbb_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bìa Lò Xo Giữa Gắn Bloc">
                                                Bìa Lò Xo Giữa Gắn Bloc
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bloc Lịch Đại 2024 - 14,5 x 20,5 cm"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/0014_7d83923297364fe8853f739fbea9f765_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bloc Lịch Đại 2024 - 14,5 x 20,5 cm">
                                                Bloc Lịch Đại 2024 - 14,5 x 20,5 cm
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">68,000₫</p>
                                            <span class="old-price">85,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/86193b493da0e8feb1b1_08281285c4f34203b91f17f3d7221620_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm">
                                                Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bìa Lò Xo Giữa Gắn Bloc"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/927c462640cf9591ccde_5c286f2dacb946318fe7c53c81cb25d1_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bìa Lò Xo Giữa Gắn Bloc">
                                                Bìa Lò Xo Giữa Gắn Bloc
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 ">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bìa Lò Xo Giữa Gắn Bloc"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/bloc_ca_chep_fbdb5d0d8b244991899fee5df642fdbb_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bìa Lò Xo Giữa Gắn Bloc">
                                                Bìa Lò Xo Giữa Gắn Bloc
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bloc Lịch Đại 2024 - 14,5 x 20,5 cm"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/0014_7d83923297364fe8853f739fbea9f765_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bloc Lịch Đại 2024 - 14,5 x 20,5 cm">
                                                Bloc Lịch Đại 2024 - 14,5 x 20,5 cm
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">68,000₫</p>
                                            <span class="old-price">85,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/86193b493da0e8feb1b1_08281285c4f34203b91f17f3d7221620_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm">
                                                Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bìa Lò Xo Giữa Gắn Bloc"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/927c462640cf9591ccde_5c286f2dacb946318fe7c53c81cb25d1_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bìa Lò Xo Giữa Gắn Bloc">
                                                Bìa Lò Xo Giữa Gắn Bloc
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 ">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bìa Lò Xo Giữa Gắn Bloc"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/bloc_ca_chep_fbdb5d0d8b244991899fee5df642fdbb_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bìa Lò Xo Giữa Gắn Bloc">
                                                Bìa Lò Xo Giữa Gắn Bloc
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bloc Lịch Đại 2024 - 14,5 x 20,5 cm"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/0014_7d83923297364fe8853f739fbea9f765_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bloc Lịch Đại 2024 - 14,5 x 20,5 cm">
                                                Bloc Lịch Đại 2024 - 14,5 x 20,5 cm
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">68,000₫</p>
                                            <span class="old-price">85,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/86193b493da0e8feb1b1_08281285c4f34203b91f17f3d7221620_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm">
                                                Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bìa Lò Xo Giữa Gắn Bloc"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/927c462640cf9591ccde_5c286f2dacb946318fe7c53c81cb25d1_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bìa Lò Xo Giữa Gắn Bloc">
                                                Bìa Lò Xo Giữa Gắn Bloc
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 ">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bìa Lò Xo Giữa Gắn Bloc"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/bloc_ca_chep_fbdb5d0d8b244991899fee5df642fdbb_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bìa Lò Xo Giữa Gắn Bloc">
                                                Bìa Lò Xo Giữa Gắn Bloc
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bloc Lịch Đại 2024 - 14,5 x 20,5 cm"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/0014_7d83923297364fe8853f739fbea9f765_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bloc Lịch Đại 2024 - 14,5 x 20,5 cm">
                                                Bloc Lịch Đại 2024 - 14,5 x 20,5 cm
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">68,000₫</p>
                                            <span class="old-price">85,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/86193b493da0e8feb1b1_08281285c4f34203b91f17f3d7221620_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm">
                                                Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bìa Lò Xo Giữa Gắn Bloc"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/927c462640cf9591ccde_5c286f2dacb946318fe7c53c81cb25d1_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bìa Lò Xo Giữa Gắn Bloc">
                                                Bìa Lò Xo Giữa Gắn Bloc
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 ">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bìa Lò Xo Giữa Gắn Bloc"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/bloc_ca_chep_fbdb5d0d8b244991899fee5df642fdbb_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bìa Lò Xo Giữa Gắn Bloc">
                                                Bìa Lò Xo Giữa Gắn Bloc
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bloc Lịch Đại 2024 - 14,5 x 20,5 cm"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/0014_7d83923297364fe8853f739fbea9f765_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bloc Lịch Đại 2024 - 14,5 x 20,5 cm">
                                                Bloc Lịch Đại 2024 - 14,5 x 20,5 cm
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">68,000₫</p>
                                            <span class="old-price">85,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/86193b493da0e8feb1b1_08281285c4f34203b91f17f3d7221620_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm">
                                                Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bìa Lò Xo Giữa Gắn Bloc"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/927c462640cf9591ccde_5c286f2dacb946318fe7c53c81cb25d1_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bìa Lò Xo Giữa Gắn Bloc">
                                                Bìa Lò Xo Giữa Gắn Bloc
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 ">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bìa Lò Xo Giữa Gắn Bloc"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/bloc_ca_chep_fbdb5d0d8b244991899fee5df642fdbb_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bìa Lò Xo Giữa Gắn Bloc">
                                                Bìa Lò Xo Giữa Gắn Bloc
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bloc Lịch Đại 2024 - 14,5 x 20,5 cm"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/0014_7d83923297364fe8853f739fbea9f765_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bloc Lịch Đại 2024 - 14,5 x 20,5 cm">
                                                Bloc Lịch Đại 2024 - 14,5 x 20,5 cm
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">68,000₫</p>
                                            <span class="old-price">85,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <a class="img-resize"
                                           title="Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm"
                                           href="#">
                                            <img src="~/AppData/Img/ForHome/86193b493da0e8feb1b1_08281285c4f34203b91f17f3d7221620_grande.png" />
                                        </a>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-name">
                                            <a href="#"
                                               title="Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm">
                                                Bloc Lịch Đại 2024 - Phong Thủy Cát Tường - BLO 11a - 14.5 x 20.5 cm
                                            </a>
                                        </h3>
                                        <div class="product-prices">
                                            <p class="sale-price primary-color">106,560₫</p>
                                            <span class="old-price">148,000₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                       href="@Url.Action("Lich2024", "Collections")">
                                        1
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="collection-des">
                            <div class="collection-des-content">
                                <p>
                                    <span>
                                        <strong>
                                            Từ lâu lịch để bàn đã là vât dụng không thể thiếu trên
                                            bàn làm việc của giới văn phòng, nó giúp bạn dễ dàng theo
                                            dõi từng ngày, từng tháng trong năm, dễ dàng ghi chú những
                                            ngày quan trong, giúp bạn lên lịch trình cho các dự định sắp
                                            tới, đó là những lí do mà bạn không thể nào không sở hữu cho
                                            mình. Tờ lịch bàn có thể giúp bạn thấy rõ được ngày nào trong
                                            tháng có sự kiện quan trọng với bạn, ngày nào thể hiện công việc
                                            gì đó của bạn trong tháng đó.
                                        </strong>
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        <strong>Lịch để bàn</strong>
                                        là một món quà thời gian đầy ý nghĩa đối với mỗi cá nhân gia đình cũng
                                        như đối với doanh nghiệp. Nó sẽ đồng hành cũng bạn suốt trong một năm
                                        bận rộn, đặc biệt nó sẽ luôn có mặt trên bàn làm việc của bạn.
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        Tính chất riêng của <strong>Lịch bloc</strong>
                                        là lịch có 365 tờ hoặc 366 tờ tương ứng 365 ngày đối với năm thông
                                        thường và 366 ngày đối với năm nhuận:  Mỗi tờ lịch đều thể hiện rõ
                                        thông tin về mỗi ngày trong năm: gồm ngày âm lịch, ngày dương lịch,
                                        ngày và giờ hoàng đạo, việc nên làm trong ngày như khai trương, cưới
                                        hỏi, động thổ, giờ nước lớn… Chất liệu để in lịch bloc: Chỉ dùng chất
                                        liệu giấy mỏng.
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        <strong>Đối với lịch đẻ bàn </strong>
                                        chỉ có 52 tờ theo từng tuần hoặc 13 theo tháng trong năm. Điểm nổi
                                        bật dòng lịch này đó chính là lượng khách hàng mua dòng này rất lớn.
                                    </span>
                                </p>
                                <h2>
                                    <span>
                                        <strong>Mẫu lịch bloc năm Giáp Thìn</strong>
                                        rất đa dạng về kích thước và nội dung.
                                    </span>
                                </h2>
                                <p>
                                    <span>
                                        Về kích thước: lịch bloc trung màu 11x15 cm, Lịch bloc đại 15x20cm,
                                        lịch bloc đại đăc biệt 16x24 cm hoặc lịch 17x24cm, Lịch Siêu đại 20x30 cm,
                                        Lịch bloc cực đại 25x35cm, Lịch bloc 30x40 cm, Lịch bloc 38x54 cm….
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        Các chủ đề và hình ảnh trên lịch bloc thường về Phong cảnh Quê Hương
                                        Việt Nam, Lịch hoa, lịch Truyện Kiều, Lịch các doanh nhân thế giới, Lịch
                                        những người nổi tiếng thế giới, Lịch món ăn Việt Nam, Lịch các vị thuốc
                                        dân gian, Lịch phong thủy tài lộc.
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        Những yếu tố mua lịch bao gồm: Kích thước, hình ảnh nội dung , cách
                                        bố trí trên tờ lịch và cả chất liệu giấy in và giá cả. Mẫu lịch bloc 2024
                                        đẹp nhất là mẫu lịch có kích thước vừa không quá nhỏ hoặc quá lớn, hình
                                        ảnh sắc nét, ấn tượng và sinh động
                                    </span>
                                </p>
                                <h2>
                                    <span>
                                        <strong>Giá lịch bloc</strong>
                                    </span>
                                </h2>
                                <p>
                                    <span>
                                        Hiện tại giá lịch bloc có nhiều giá cả khác nhau để bạn lựa chọn
                                        vừa túi tiền. Giá niêm yết Lịch bloc của chúng tôi giao động từ 40.000
                                        đến 700.000 và mức chiết khấu khác nhau cho từng loại lịch.
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        Hiện tại bạn có thể mua lịch bloc của chúng tôi theo nhiều phương
                                        thức khác nhau. Quý khách có thể mua trực tiếp tại nhà sách hay
                                        mua qua online trên website
                                        <strong>
                                            <a href="#"
                                               style="color: #2980b9">https://nhanvan.vn/</a>
                                        </strong>
                                        hoặc các sàn thương mại điện tử của chúng tôi. Hãy liên hệ với chúng
                                        tôi hôm nay để mang về những cuốn lịch đầy ý nghĩa.
                                    </span>
                                </p>
                            </div>
                            <div class="show-more">
                                <a href="#">
                                    Xem thêm chi tiết
                                    <i class="fa fa-solid fa-sort-down"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

