@font-face {
    font-family: 'Quicksand';
    src: url(/AppData/Font/Quicksand-Regular.ttf) format('truetype');
}

* {
    font-family: 'Quicksand', sans-serif !important;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

main {
    background: #f5f5f5;
}

.primary-color {
    color: #FF5800;
}

.fa {
    font-family: 'FontAwesome' !important;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

    a:hover {
        color: #ff5800;
        text-decoration: none;
        outline: none;
    }

img {
    max-width: 100%;
}

.mbt-35 {
    margin: 35px 0;
}

.p-8 {
    padding: 8px;
}

.bg-primary-color {
    background: #4e73df
}
/*WRAPPER*/
.wrapper {
    padding-left: 15px;
}

.logo {
    padding: 24px 0;
}

hr.sidebar-divider {
    border-top: 1px solid rgb(255 255 255 / 67%);
    margin: 0 18px 18px;
}

.nav-item {
    padding-left: 24px;
}

.nav-item .nav-link i {
    margin-right: 8px;
    color: #fff;
    opacity: 0.6;
}

.nav-item .nav-link:active {
    opacity: 1;
}

.nav-item .nav-link span {
    color: #fff;
}
