@font-face {
    font-family: 'Quicksand';
    src: url(/AppData/Font/Quicksand-Regular.ttf) format('truetype');
}

* {
    font-family: 'Quicksand', sans-serif !important;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

main {
    background: #f5f5f5;
}

.primary-color {
    color: #FF5800;
}

.fa {
    font-family: 'FontAwesome' !important;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #ff5800;
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
}

.mbt-35 {
    margin: 35px 0;
}

.p-15-26 {
    padding: 15px 26px;
}

/*CARD*/
.img-resize img {
    object-fit: contain;
    height: 217.5px;
    text-align: center;
    width: 217.5px;
}

/*SIDEBAR*/
.menu-group {
    margin-top: 35px;
    margin-bottom: 20px;
}

.title-block .sidebar-title {
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    background: #f9f9f9;
    margin: 0;
}

.layered-content {
    padding: 15px 20px;
}

.menu-list-links li {
    padding: 5px 0;
    position: relative;
}

/*FEATURED*/
.featured .item-featured {
    margin-bottom: 20px;
}

.featured .featured-info {
    margin: 10px 0 0;
}

.featured .featured-info h4 {
    font-size: 14px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    margin-bottom: 5px;
    height: 36px;
}

.featured .featured-info .featured-price {
    font-size: 16px;
    font-weight: 600;
}

/*BLOCK-COLLECTION*/
.collection-block {
    padding-top: 25px;
}

.product-list {
    border-top: 1px solid #808080;
}

.product-block {
    margin-bottom: 15px;
    cursor: pointer;
     background: #fff; 
}

.product-detail {
    padding: 15px 10px 10px 15px;
}

.product-name {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    height: 38px;
    line-height: 0.7;
}

.product-name a {
    color: #222;
    font-size: 14px;
}

.product-prices .sale-price {
    display: inline;
    font-size: 16px;
    font-weight: 600;
}

.product-prices .old-price {
    margin-left: 5px;
    opacity: 0.6;
    text-decoration: line-through;
    font-size: 16px;
}

/*PAGINATION*/
.pagination {
    padding: 15px 0;
}

/*COLLECTION-DES*/
.collection-des-content {
    font-size: 13px;
    margin: 10px 0;
    position: relative;
    height: 150px;
    overflow: hidden;
}

.collection-des-content::before {
    content: "";
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    position: absolute;
    height: 100px;
    right: 0px;
    bottom: 0;
    left: 0px;
}

.collection-des p {
    margin: 0 0 10px 0;
    line-height: 21px;
}

.show-more {
    text-align: center;
    padding-bottom: 35px;
}

.show-more a {
    display: inline-block;
    padding: 10px 20px;
    background: #dad9d9;
    color: #000;
}