<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin - Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/AdminLoginCSS.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/eaf1554704.js" crossorigin="anonymous"></script>
</head>

<body class="bg-primary-color">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="card overflow-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-6">
                                <img style="width: 100%" src="~/Areas/Admin/Data/Img/admin-login.png" />
                            </div>
                            <div class="col-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="text-black mb-5 opacity-75">
                                            Đăng nhập tài khoản
                                        </h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group mb-4">
                                            <input type="email" name="email" class="form-control form-control-user" placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group mb-4">
                                            <input type="password" name="passworđ" class="form-control form-control-user" id="InputPassword" placeholder="Password">
                                        </div>
                                        <a href="#" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>