
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/CSS/ProductsCSS.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/eaf1554704.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div class="breadcrumb-shop">
            <div class="container">
                <div class="d-inline-block">
                    <a href="#">
                        <span>Trang chủ</span>
                    </a>
                    <i class="fa fa-solid fa-angles-right"></i>
                    <a href="#">
                        <span>KHO TÀNG SÁCH</span>
                    </a>
                    <i class="fa fa-solid fa-angles-right"></i>
                    <a href="#">
                        <span>KHO TÀNG SÁCH</span>
                    </a>
                    <i class="fa fa-solid fa-angles-right"></i>
                    <a href="#">
                        <span>SÁCH TÂM LÝ - KỸ NĂNG SỐNG</span>
                    </a>
                    <i class="fa fa-solid fa-angles-right"></i>
                    <a href="#">
                        <span>Sách Kỹ Năng Sống</span>
                    </a>
                    <i class="fa fa-solid fa-angles-right"></i>
                    <span>Chủ Động Trong Thế Giới Bị Động</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class="col-5">
                            <div class="product-media position-relative">
                                <p class="p-sale primary-color">
                                    -10%
                                </p>
                                <div class="product-full-img">
                                    <img src="~/AppData/Img/Products/bia-ao_chu-dong-trong-the-gioi-bi-dong_final-_1__4b1ccc0b32bc4e88bfa9aa728255c9fa_master.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="product-detail col-7">
                            <h1>Chủ Động Trong Thế Giới Bị Động</h1>
                            <p class="sku">
                                <strong>SKU: </strong>9786043451160
                            </p>
                            <p>
                                <strong>LOẠI SẢN PHẨM:</strong> SÁCH
                            </p>
                            <div class="product-price">
                                <span>80,100₫</span>
                                <del>89,000₫</del>
                            </div>
                        </div>
                        <div class="col-12 product-recommend">
                            <div class="recommend-title">
                                <h4>
                                    <span>Thường được</span> mua cùng
                                </h4>
                            </div>
                            <div class="carousel">
                                <div class="carousel-inner">
                                    <div class="pro-recommend-item carousel-item active">
                                        <div class="product-block">
                                            <div class="product-img">
                                                <img src="~/AppData/Img/Products/toi-co-trieu-chung-cu-yeu-em.png" />
                                            </div>
                                            <div class="product-detail">
                                                <div class="box-product-detail">
                                                    <h3 class="product-name">
                                                        <a href="#">Tôi Có Triệu Chứng Cứ Yêu Em</a>
                                                    </h3>
                                                </div>
                                                <div class="box-product-prices">
                                                    <p class="product-price">84,000₫</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">

                </div>
            </div>
        </div>
    </main>
</body>
</html>

